body {font-family: Arial, Helvetica, sans-serif;
background-image:url("D:/incubXperts/image/login.jpg");
}


input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
vertical-align: middle;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


label{
	
	padding: 12px 20px;
  	margin: 8px 0;
	width:240px;
	display:inline-block;
	vertical-align: middle;
	
}

button:hover {
  opacity: 0.8;
}






.container {
  padding: 16px;
}

h2{
text-align:center;
color:#3a787b
}